@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

.home-content {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

#home .hi-there {
  color: #ca3300;
  font-size: 1.2rem;
}

#home .my-name {
  font-family: 'Ranchers', cursive;
  color: var(--brown);
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 1px;
  word-spacing: 5px;
}

#home .my-name + h1 {
  font-size: 1.75rem;
}

#home a {
  color: var(--light-brown);
  transition: 0.25s;
}
#home a:hover {
  color: var(--orange);
}

#home .social-connect {
  list-style: none;
  display: flex;
  margin-top: 1rem;
  border: 1px solid #352F2F;
  width: fit-content;
  border-radius: 5px;
}
#home .social-connect li {
  padding: .65rem 1.25rem;
}
#home .social-connect a {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*** --- Media Queries --- ***/
/* Mobile Dimension */
@media only screen and (max-width: 480px) {
  
}