@font-face {
  font-family: "Ranchers";
  src: url(../fonts/Ranchers/Ranchers-Regular.ttf) format('truetype');
}

#home {
  min-height: 100vh;
}

#home .home-content {
  display: flex;
  flex-direction: column;
  gap: .45rem;
}

#home .hi-there {
  color: var(--clr-orange);
  font-size: 1.2rem;
}

#home .my-name {
  font-family: 'Ranchers', cursive;
  color: var(--clr-brown);
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 1px;
  word-spacing: 5px;
}

#home .my-name + h1 {
  color: var(--clr-text);
  font-size: 1.75rem;
}

#home a {
  color: var(--clr-brown);
  transition: 0.25s;
}
#home a:hover,
#home a:focus {
  color: var(--clr-orange);
}

#home .social-connect {
  list-style: none;
  display: flex;
  margin-top: 1rem;
  border: 1px solid var(--clr-brown);
  width: fit-content;
  border-radius: 5px;
}
#home .social-connect li {
  padding: .65rem 1.25rem;
}
#home .social-connect a {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}