@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #07172e;
  font-family: 'Zen Loop', cursive;
}

h1 {
  color: #CCD6F6;
}