@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');

body {
  margin: 0;
  font-family: 'Zen Loop', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
