@font-face {
  font-family: "Major Mono Display";
  src: url(../fonts/Major_Mono_Display/MajorMonoDisplay-Regular.ttf) format('truetype');
}

nav {
  background-color: transparent; 
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;  
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  transition: .35s;
  z-index: 99;
}
nav #logo {
  font-family: 'Major Mono Display', monospace;
  color: var(--clr-brown);
  font-size: 1.65rem;
  user-select: none;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
}
nav li a {
  color: var(--clr-brown);
  padding: 0 1.25rem;
  transition: .35s;
}
nav li a:hover,
nav li a:focus {
  color: var(--clr-orange);
}
nav .right-nav {
  display: flex;
  align-items: center;
}

nav .menu-btn {
  display: none;
  transition: all 0.4s ease-out;
}
nav .btn-line {
  width: 25px;
  height: 3px;
  background-color: var(--clr-brown);
  transition: all 0.25s ease-out;
}
nav .btn-line:nth-child(2) {
  width: 20px;
  margin-top: 6px;
  margin-bottom: 6px;
}
nav .menu-btn.close {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
nav .menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
  -webkit-transform: rotate(45deg) translate(6px, 6px);
}
nav .menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
nav .menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
  -webkit-transform: rotate(-45deg) translate(7px, -7px);
}


/*** --- Media Queries --- ***/
/* Medium Dimension */
@media only screen and (max-width: 768px) {
  nav {
    padding: 0 2rem;
  }
  nav .right-nav,
  nav .right-nav + button {
    display: none;
  }
  nav .menu-btn {
    display: block;
  }
}