@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Alegreya Sans";
  src: url(../fonts/Alegreya_Sans/AlegreyaSans-Medium.ttf) format("truetype");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-brown: #352f2f;
  --clr-text: rgba(53, 47, 47, 0.9);
  --clr-light: #f0d7b2;
  --clr-orange: #ca3300;
  // --clr-brown: #999999;
  // --clr-text: rgba(204, 204, 204, 0.9);
  // --clr-light: #f0d7b2;
  // --clr-orange: #ca3300;
}

::selection {
  background-color: rgba(53, 47, 47, 0.75);
  color: #000;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--clr-brown);
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  // background-color: #0c0c0c;
  background-image: url(../img/noise-bg.png);
  background-attachment: fixed;
  color: var(--clr-text);
  font-family: "Alegreya Sans", sans-serif;
  line-height: 1.3;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

p,
span,
a {
  font-size: 1.125rem;
}

p,
span {
  color: var(--clr-text);
}

a {
  text-decoration: none;
  outline: none;
}

.a_link {
  position: relative;
  color: var(--clr-orange);
}
.a_link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--clr-orange);
  transform-origin: right;
  transform: scaleX(0);
}
.a_link:hover::before,
.a_link:focus::before {
  transform-origin: left;
  transform: scaleX(1);
}

button {
  background-color: transparent;
  color: var(--clr-brown);
  z-index: 1;
  position: relative;
  padding: 0.65rem 1.2rem;
  border: 2px solid var(--clr-brown);
  outline: none;
}
button::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background-color: var(--clr-brown);
  transform-origin: center right;
  transform: scaleX(0);
}
button:hover,
button:focus {
  cursor: pointer;
  color: var(--clr-light);
}
button:hover::before,
button:focus::before {
  transform-origin: center left;
  transform: scaleX(1);
}

section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10rem;
}

section .section-content {
  margin: 0 auto;
  width: 100%;
  max-width: 100rem;
  padding: 5rem 0;
}

section .title {
  position: relative;
  color: var(--clr-brown);
  margin-bottom: 1.5rem;
}

section .title::before {
  position: absolute;
  font-size: 2.5rem;
  left: 0;
  top: -1.5rem;
  background: -webkit-linear-gradient(
    rgba(53, 47, 47, 0.15) 10%,
    rgba(240, 215, 178, 0)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* --- Supported Devices --- */
@supports (transition: transition) {
  .a_link::before {
    transition: transform 0.5s cubic-bezier(1, 0.18, 0.6, 1.1);
  }
  button::before {
    transition: transform 0.25s cubic-bezier(1, 0.18, 0.6, 1.1);
  }
}

/*** Media Queries ***/
@media only screen and (max-width: 768px) {
  section {
    padding: 0 2rem;
  }
  p,
  span,
  a {
    font-size: 1rem;
  }
}

/* --- Other CSS Files --- */
@import url(./Home.css);
@import url(./About.css);
@import url(./Services.css);
@import url(./Projects.css);

// Scroll Driven Animation
@keyframes slide-fade-in {
  from {
    opacity: 0;
    transform: translateY(5vh);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .card {
    view-timeline-name: --item-timeline;
    animation: slide-fade-in both;
    animation-timeline: --item-timeline;
    animation-range: contain 0% contain 0%;
  }
}
