@import "@/assets/styles/variables";

header {
  background-color: transparent;
  position: fixed;
  z-index: 99;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    backdrop-filter: blur(15px);
    inset: 0;
  }

  nav a.active {
    position: relative;
    color: white !important;
    &::after {
      content: "";
      position: absolute;
      background-color: $strong-orange;
      width: 8px;
      height: 5px;
      bottom: -8px;
      left: 50%;
      translate: -50% 0;
    }
  }

  .menu-btn {
    display: none;

    .btn-line {
      width: 25px;
      height: 2px;

      &:nth-child(2) {
        width: 20px;
        margin-top: 6px;
        margin-bottom: 6px;
      }
    }

    &.close {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);

      .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(6px, 6px);
        -webkit-transform: rotate(45deg) translate(6px, 6px);
      }
      .btn-line:nth-child(2) {
        opacity: 0;
      }
      .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(5.5px, -5.5px);
        -webkit-transform: rotate(-45deg) translate(5.5px, -5.5px);
      }
    }
  }
}

/* --- Supported Devices --- */
@supports (transition: transition) {
  header {
    transition: 0.35s;
  }
  header .menu-btn {
    transition: all 0.4s cubic-bezier(0.85, -0.07, 0.53, 1.36);
  }
  header .btn-line {
    transition: all 0.25s cubic-bezier(1, 0.18, 0.6, 1.1);
  }
}

/*** --- Media Queries --- ***/
/* Medium Dimension */
@media only screen and (max-width: 768px) {
  header {
    .menu-btn {
      display: block;
      z-index: 999;
    }
    nav {
      position: fixed;
      inset: 0;
      left: 35%;
      background-color: $dark;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      row-gap: 2.5rem;
      height: 100%;
      transform: translateX(100%);
    }
    nav.nav-visible {
      transform: translateX(0%);
      &::before {
        position: absolute;
        background-color: red;
        width: 100vw;
        height: 40px;
        inset: 0;
      }
    }
  }

  /* --- Supported Devices --- */
  @supports (backdrop-filter: blur(0.5rem)) {
    header nav.nav-visible {
      backdrop-filter: blur(0.5rem);
    }
  }
  @supports (transition: transition) {
    header nav {
      transition: transform 350ms cubic-bezier(1, 0.18, 0.6, 1.1);
    }
  }
}
