@import "@/assets/styles/variables";

header {
  background-color: transparent;
  position: fixed;
  z-index: 99;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    backdrop-filter: blur(15px);
    inset: 0;
  }

  nav a.active {
    position: relative;
    color: white !important;
    &::after {
      content: "";
      position: absolute;
      background-color: $strong-orange;
      width: 8px;
      height: 5px;
      bottom: -8px;
      left: 50%;
      translate: -50% 0;
    }
  }

  .menu-btn {
    .btn-bar {
      width: 25px;
      height: 2px;
      transition: all 0.25s cubic-bezier(1, 0.18, 0.6, 1.1);

      &:nth-child(2) {
        width: 20px;
        margin-top: 6px;
        margin-bottom: 6px;
      }
    }

    &.close {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);

      .btn-bar:nth-child(1) {
        transform: rotate(45deg) translate(6px, 6px);
        -webkit-transform: rotate(45deg) translate(6px, 6px);
      }
      .btn-bar:nth-child(2) {
        opacity: 0;
      }
      .btn-bar:nth-child(3) {
        transform: rotate(-45deg) translate(5.5px, -5.5px);
        -webkit-transform: rotate(-45deg) translate(5.5px, -5.5px);
      }
    }
  }
}

/*** --- Media Queries --- ***/
@media only screen and (max-width: 768px) {
  header {
    nav {
      position: fixed;
      inset: 0;
      left: 35%;
      background-color: $dark;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      row-gap: 2.5rem;
      height: 100dvh;
      transform: translateX(100%);
      transition: transform 350ms cubic-bezier(1, 0.18, 0.6, 1.1);

      &.nav-visible {
        transform: translateX(0%);
      }
    }
  }
}
